name: Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions: 
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'
      - name: Build with Gradle
        run: |
          chmod +x ./gradlew
          ./gradlew build
      - name: Publish artifacts to staging
        run: |
          ./gradlew publish
      - name: Publish to Maven Central and GitHub Releases
        env:
          JRELEASER_MAVENCENTRAL_USERNAME: ${{ vars.SONATYPE_USER }}
          JRELEASER_MAVENCENTRAL_TOKEN: ${{ secrets.SONATYPE_TOKEN }}
          JRELEASER_NEXUS2_USERNAME: ${{ vars.SONATYPE_USER }}
          JRELEASER_NEXUS2_PASSWORD: ${{ secrets.SONATYPE_TOKEN }}
          JRELEASER_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          JRELEASER_GPG_PUBLIC_KEY: ${{ vars.GPG_PUBLIC_KEY }}
          JRELEASER_GPG_SECRET_KEY: ${{ secrets.GPG_SECRET_KEY }}
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: env.JRELEASER_MAVENCENTRAL_TOKEN != null
        run: |
          ./gradlew jreleaserFullRelease
